.fon {
position: absolute;
width: 1600px;
height: 4574px;
left: 0px;
top: 0px;
background: #20242D;
opacity: 0.9;
}
.calculate-the-cost {
position: absolute;
width: 800px;
height: 550px;
left: 100px;
top: 100px;
background: #FFFFFF;
}

.h-form {
position: absolute;
width: 316px;
height: 47px;
left: 75px;
top: 30px;

font-family: 'Gilroy';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 97%;
color: #20242D;
}
.p-form-a {
position: absolute;
width: 539px;
height: 24px;
left: 58px;
top: 163px;

font-family: 'Gilroy';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #20242D;
}
.span-form {
position: absolute;
width: 225px;
height: 16px;
left: 58px;
top: 243px;
    
font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
color: #7B7E85;   
}
.span-kwh-form {
position: absolute;
width: 88px;
height: 19px;
left: 654px;
top: 243px;
    
font-family: 'Gilroy';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;   
}
.input-a {
position: absolute;
width: 682px;
height: 6px;
left: 58px;
top: 293px;

background: linear-gradient(90deg, #5CD35A 0%, #FF8D24 50%, #F01717 100.73%);
border-radius: 4px;
}
.p-form-b {
position: absolute;
width: 89px;
height: 16px;
left: 58px;
top: 339px;

font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
color: #7B7E85;
}
.p-form-c {
position: absolute;
width: 98px;
height: 16px;
left: 415px;
top: 339px;

font-family: 'Gilroy';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
color: #7B7E85;
}
.select-a {
box-sizing: border-box;

position: absolute;
width: 327px;
height: 52px;
left: 58px;
top: 367px;

background: #FFFFFF;
border: 1px solid #E0E0E0;
}
.option-a {
position: absolute;
width: 103px;
height: 19px;
left: 24px;
top: 16px;

font-family: 'Gilroy';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #7B7E85;
}
.option-aa {
position: absolute;
left: 25%;
right: 25%;
top: 41.67%;
bottom: 33.33%;
background: #FF7129;
}
.select-b {
box-sizing: border-box;
position: absolute;
width: 327px;
height: 52px;
left: 415px;
top: 367px;
background: #FFFFFF;
border: 1px solid #E0E0E0;
}
.button-form {
position: absolute;
width: 187px;
height: 49px;
left: 300px;
top: 460px;
background: #FF7129;
box-shadow: 0px 4px 28px rgba(255, 113, 41, 0.29);
}
.span-button-form {
position: absolute;
width: 56px;
height: 17px;
left: 66px;
top: 16px;

font-family: 'Gilroy';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
text-align: center;
color: #FFFFFF;
}



