body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f7fa;
}

.main {
    
    width: auto;
    margin: 0 auto;
}

.main-content {
    background-color: #fff;
    padding: 10px;
}

/* about styles */

.about {
   margin-bottom: 40px;
}

.about-position {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 20px;    
}

.about-name {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin-bottom: 20px;   
}

.about-description {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    width: auto;  
}

/* projects style */

.promo {
    background: #F1F5F8;
    box-shadow: 0px 4px 68px rgba(33, 33, 33, 0.06);
    min-width: 345px;
    height: auto;
    z-index: 10;
  }
  .promo__wrapper {
    padding: 44px 24px;
  }
  
  .promo__menu {
    display: flex;
    margin-bottom: 40px;
  }

  .promo__title {
    list-style: none;
    cursor: pointer;
  }

  .promo__link {
    position: relative;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
    line-height: 140%;
    color: #2C2F36;
    padding-bottom: 10px;
    cursor: pointer;
  }

  .promo__link:hover {
    color: #2F80ED;
  }
  .promo__text {
    min-width: 246px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #2C2F36;
  }

  .promo__list {
    padding-left: 0px;
  }

  .promo__list-item {
    margin-bottom: 25px;
    list-style: none;
  }
  .promo__list-item--details {
    background: url("../img/price_plus.png") right 5px no-repeat;
    border-bottom: rgba(180, 187, 206, 0.3) 3px solid;
  }
  .promo__list-item--details:hover {
    background: url("../img/plus_blu.png") right 5px no-repeat;
  }
  .promo__list-item--details[open] {
    background: url("../img/minus_blu.png") right 10px no-repeat;
    border-bottom: #2F80ED 3px solid;
  }
  .promo__list-item--details[open] .promo__title {
    color: #2F80ED;
  }
  .promo__list-item--details[open] .promo__text {
    padding-bottom: 15px;
  }
  
  details summary::-webkit-details-marker {
    display: none;
  }
 
title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;
}

.project-list {
    margin-left: 15px;
    padding: 0px;
}

.project-item {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.project, 
.project-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.project-link {
    margin-left: 10px;
    text-decoration: none;
}

.project-link:hover {
    color: #FB6D3A;
}

.project-bracket {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}  

/* work style */

.work-position {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 10px;  
}

.organisation {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;  
}

.period {
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
}

.line {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;    
}

.work-list-item {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.work-list {
padding: 0;
margin-left: 15px;
}

/* education */

.education-uny {
    font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
color: #FB6D3A;
}

.education-man {
    font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
color: #000000;
}

.sitebar {
    display: flex;
    justify-content: center;
    background-color: #1E2939;
    padding-top: 40px;
    padding-bottom: 40px;
    width: auto;
}

.sitebar-content {
    width: auto;
    margin-left: 30px;
    margin-right: 30px;
}

.photo {
    width: 370px;
    margin-bottom: 50px;
}
.contacts {
    margin-bottom: 50px;
    
}

.sitebartitle {
    color: #ffffff;
    font-size: 27px;
    font-style: normal;
    font-weight: bold;
    line-height: 27px;
    margin-bottom: 10px;
}
.contact-type {
    color: #ffffff;
    font-size: 14px;
    font-style: normal;
    line-height: 24px;
    font-weight: bold;
    margin-right: 4px;
}
.contact-link {
    color: #565e6a;
    font-size: 14px;
    font-style: normal;
    line-height: 24px;
    font-weight: normal;  
}
.techstil-list {
    color: #fff;
    padding: 0;
    margin-left: 17px;
}
.tech-skils-item {
    color: #f86D3a;
}
.tech-skils-text {
    color: #fff; 
}

.soft-skil-x {
  margin-top: 55px;   
}



@media (min-width: 900px) {
    .main {
        display: flex;
        flex-direction: row-reverse;
        width: 1200px;
        margin: 0 auto;
    }

    .main-content {
        background-color: #fff;
        padding: 105px 90px;
    }

    .promo {
        width: 50%;
      }

    .sitebar {
        background-color: #1E2939;
        padding-top: 40px;
        width: 370px;
        flex-direction: column;
        
    }
}

@media (max-width: 650px) {
    .sitebar {
        flex-direction: column;
    }
}

@media (max-width: 450px) {
    .photo {
        width: auto;
    }

    .about-description {
        width: auto;  
    }
}






